Repository amdigbari/resume-builder: changes, and which lefthook commands are due for each by the changed paths.
All: ts_scripts, ts_assets, lead_manager

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    ts_scripts:
      glob: '*.{js,ts,jsx,tsx,mjs}'
      run: yarn format {staged_files} && yarn lint && git add {staged_files}
    ts_assets:
      glob: '*.{json,scss,css}'
      run: yarn format {staged_files} && git add {staged_files}

    lead_manager:
      glob: '**/*.py'
      exclude: '.*\/migrations\/.*\.py$'
      run: isort {staged_files} && black {staged_files} && pylint {staged_files} && git add {staged_files}

format:
  parallel: true
  commands:
    ts:
      glob: '*.{js,ts,jsx,tsx,json,scss,css,mjs}'
      run: yarn format {all_files}

    lead_manager:
      glob: '**/*.py'
      run: isort {all_files} && black {all_files}

lint:
  parallel: true
  commands:
    ts:
      glob: '*.{js,ts,jsx,tsx,mjs}'
      run: yarn lint

    lead_manager:
      glob: '**/*.py'
      exclude: '.*\/migrations\/.*\.py$'
      run: pylint {all_files}

Added backend base project
  .gitignore
  .pylintrc
  lefthook.yml
  requirements.in
  resume_hub/next.config.mjs
  resume_hub/redocly.yaml
  resume_hub/src/shared/services/api-service.ts
  resume_hub/src/shared/services/query-client.ts
  resume_manager/_base/__init__.py
  resume_manager/_base/asgi.py
  resume_manager/_base/settings.py
  resume_manager/_base/urls.py
  resume_manager/_helpers/constants.py
  resume_manager/api_spec/schema.yaml
  resume_manager/locale/en_US/LC_MESSAGES/django.po
  resume_manager/locale/fa_IR/LC_MESSAGES/django.po
  resume_manager/manage.py
  resume_manager/requirements.in
  resume_manager/user/__init__.py
  resume_manager/user/apps.py
  resume_manager/user/migrations/__init__.py
  resume_manager/user/urls.py
Due: ts_scripts, lead_manager

Change backend localization to use Accept-language header
  resume_manager/_base/settings.py
  resume_manager/_base/urls.py
Due: lead_manager

Change frontend translation approach
  resume_hub/.eslintrc.json
  resume_hub/i18n.json
  resume_hub/i18n.ts
  resume_hub/locales/en-US/common.json
  resume_hub/locales/fa-IR/common.json
  resume_hub/messages/en-US.json
  resume_hub/messages/fa-IR.json
  resume_hub/next.config.mjs
  resume_hub/package.json
  resume_hub/src/app/[locale]/layout.tsx
  resume_hub/src/app/[locale]/page.tsx
  resume_hub/src/app/layout.tsx
  resume_hub/src/app/page.tsx
  resume_hub/src/configs/general.ts
  resume_hub/src/configs/index.ts
  resume_hub/src/configs/servers.ts
  resume_hub/src/middleware.ts
  resume_hub/src/navigation.ts
  resume_hub/src/shared/components/button/Button.tsx
  resume_hub/src/shared/components/fields/HelperText.tsx
  resume_hub/src/shared/components/fields/index.ts
  resume_hub/src/shared/components/form/Form.tsx
  resume_hub/src/shared/components/form/FormInput.tsx
  resume_hub/src/shared/components/form/index.ts
  resume_hub/src/shared/components/toast/ToastItem.tsx
  resume_hub/src/shared/providers/AppProviders.tsx
  resume_hub/src/shared/services/api-service.ts
  resume_hub/src/shared/types/globals.d.ts
  resume_hub/src/shared/types/translations.d.ts
  resume_hub/src/shared/utils/locale.ts
  resume_hub/src/shared/utils/locale/index.ts
  resume_hub/src/shared/utils/locale/locale-service.ts
  resume_hub/src/shared/utils/locale/useLocaleState.ts
  resume_hub/src/shared/utils/use-countdown.ts
  resume_hub/src/shared/utils/use-toast.ts
  yarn.lock
Due: ts_scripts, ts_assets

Change frontend translation approach
  resume_hub/.eslintrc.json
  resume_hub/i18n.json
  resume_hub/i18n.ts
  resume_hub/locales/en-US/common.json
  resume_hub/locales/fa-IR/common.json
  resume_hub/messages/en-US.json
  resume_hub/messages/fa-IR.json
  resume_hub/next.config.mjs
  resume_hub/package.json
  resume_hub/src/app/[locale]/layout.tsx
  resume_hub/src/app/[locale]/page.tsx
  resume_hub/src/app/layout.tsx
  resume_hub/src/app/page.tsx
  resume_hub/src/configs/general.ts
  resume_hub/src/middleware.ts
  resume_hub/src/shared/components/button/Button.tsx
  resume_hub/src/shared/providers/AppProviders.tsx
  resume_hub/src/shared/services/api-service.ts
  resume_hub/src/shared/types/globals.d.ts
  resume_hub/src/shared/types/i18n.d.ts
  resume_hub/src/shared/utils/index.ts
  resume_hub/src/shared/utils/locale.ts
  resume_hub/src/shared/utils/locale/index.ts
  resume_hub/src/shared/utils/locale/locale-service.ts
  resume_hub/src/shared/utils/locale/useLocaleState.ts
  resume_hub/src/shared/utils/navigation.ts
  yarn.lock
Due: ts_scripts, ts_assets

Fixed front middleware issue
  resume_hub/src/middleware.ts
Due: ts_scripts

Added resume model
  resume_manager/_base/settings.py
  resume_manager/_helpers/models/__init__.py
  resume_manager/_helpers/models/time.py
  resume_manager/_helpers/models/time_safedelete.py
  resume_manager/locale/en_US/LC_MESSAGES/django.po
  resume_manager/locale/fa_IR/LC_MESSAGES/django.po
  resume_manager/resume/__init__.py
  resume_manager/resume/admin.py
  resume_manager/resume/apps.py
  resume_manager/resume/migrations/0001_initial.py
  resume_manager/resume/migrations/__init__.py
  resume_manager/resume/models/__init__.py
  resume_manager/resume/models/resume.py
  resume_manager/resume/models/resume_section.py
  resume_manager/template/__init__.py
  resume_manager/template/admin.py
  resume_manager/template/apps.py
  resume_manager/template/migrations/0001_initial.py
  resume_manager/template/migrations/__init__.py
  resume_manager/template/models/__init__.py
  resume_manager/template/models/section.py
  resume_manager/template/models/template.py
Due: lead_manager

add resume serializer and model
  resume_manager/_base/settings.py
  resume_manager/_base/urls.py
  resume_manager/_helpers/models/__init__.py
  resume_manager/_helpers/models/template.py
  resume_manager/_helpers/models/time.py
  resume_manager/_helpers/models/time_safedelete.py
  resume_manager/_helpers/permissions/__init__.py
  resume_manager/_helpers/permissions/is_owner_or_readonly.py
  resume_manager/api_spec/schema.yaml
  resume_manager/locale/en_US/LC_MESSAGES/django.po
  resume_manager/locale/fa_IR/LC_MESSAGES/django.po
  resume_manager/requirements.in
  resume_manager/resume/migrations/0001_initial.py
  resume_manager/resume/models/resume.py
  resume_manager/resume/models/resume_section.py
  resume_manager/resume/resume_template_urls.py
  resume_manager/resume/resume_urls.py
  resume_manager/resume/serializers/__init__.py
  resume_manager/resume/serializers/resume_section_serializer.py
  resume_manager/resume/serializers/resume_serializer.py
  resume_manager/resume/views/__init__.py
  resume_manager/resume/views/resume_apiview.py
  resume_manager/resume/views/resume_base_apiview.py
  resume_manager/resume/views/resume_template_apiview.py
  resume_manager/template/__init__.py
  resume_manager/template/admin.py
  resume_manager/template/apps.py
  resume_manager/template/migrations/0001_initial.py
  resume_manager/template/migrations/__init__.py
  resume_manager/template/models/__init__.py
  resume_manager/template/models/section.py
  resume_manager/template/models/template.py
Due: lead_manager
